    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>我是平凡的人，但不想平庸的活着</p>
				<p>凡走过，我都想留下痕迹，仅此而已、此博客因为某些众所周知的原因，可能会跳脱出国内禁忌，但并非醉翁之意不在酒，只是想吸收百家之言，不局限于国内</p>
				<p>博客中讨论的主要技术来自于阿里巴巴，因为我个人的原因，对阿里和apache的中间件抱有充足的兴趣，由此有分享之意，可能无法完美复现作者设计的本意，但我尽力为之，</p>
				<p>尽力做到说出的每句话都有足够的思考，举例务必严谨，通透，言出法随、</p>
            </div>
        </div>
    </section>