    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>第一篇Java线程框架及内存模型的思考</h2>
                    <p> 顾名思义,java线程框架与内存模型一直是java语言优越于其他语言的核心，而java并非诞生之日就对此有所考量。
                        所以这是一个自然的过渡，自java 1之后开始，至java 5之前的版本里，java并未真正深入思考过多核技术带来的改变，直至
                        java 5之后，Doug Lea操刀主导抽象设计了java concurrent包，concurrent框架的出现对后续java影响深远，于此同时JVM因此迎来巨变，
                        例如java 5之后提供了各种原子性操，java7 之后的Fork/Join框架， java8 之后的Steam流编程parallel并行流。而java 9之后java本身
                        发生的巨变，使得模块化成为主流，这要求java的用户们必须对java包类结构充分熟悉，这使得初学者举步维艰，使得即便JVM的优质提升也无法体验，
                        因为笔者能力有限，暂时并未深入研究，秉承理论与源码并行原则，笔者会后续附上示例代码，有相应的思考在其中。</p>
                    <p>为者常成，行者常至</p>
                    <a href="https://github.com/linghuchina/Deep_In_Java/tree/master/Deep_In_Java/src/main/java/com/alibaba/java" class="btn btn-default btn-lg">Visit Source Code</a>
                </div>
            </div>
        </div>
    </section>