<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section1">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>关于参加西湖Nacos Committers Meeting-“学思之路”</h2>
                <p> 基于某种既定的事实，我摊牌了，我在人生的研学阶段是厌学的，总认定应试教育于我的人生是无多大益处，直到我参加工作，观念才悄然改变，承蒙朋友举荐，进入国内一家不错的互联网公司，在此之前的一年里，几乎都是我人生的至暗时刻，我几乎是孤身一人面对社会的冲击，面对毕业的分手，面对朋友的离去，诸如此类，但还好没有放弃我一直热爱的事业,进入正题，学习Java是枯燥的，甚至是肤浅的，参加工作之后我明白了这个道理，Java本身的知识体系是博大精深的，但若仅仅学习其语法，学习网络编程，我认为还是略有问题，问题的关键在于我们得到的始终只是它的发展历程带来的衍生产品，而并非Java设计本身的价值，或许今天社会上很多很多程序员对编程这件事情并非出于热爱，我想请跳脱出Java这门语言，甚至于跳脱出互联网行业这个范畴，俯瞰整个生命进程，你会发现一个事实——“十八年的懈怠，要用八十一年来弥补”，或许读者们所处环境不同，年龄不同，生活阅历也不同。但当你认定一件事情会作为你终生事业的时候，那种无能为力，那种遗憾，难以描述。
                    今天参加阿里巴巴中间件部门在西湖会展中心举办的一个交流会，听一位前辈的分享，聊我们工程人员在社会中，第一目标是口袋里有钱，第二目标是做自己热爱的事业，第三目标是成就自己，传播知识，传达自己的能量。我一直不太想露骨的讨论钱的问题，除了理想，回归生活，经济基础是很重要，虽然工程师做的不错几乎不用考虑太多钱的问题，但入行初期，还会多多少少有点迷茫的意思，笔者也是刚刚毕业一年的年轻人，所以身边的朋友都很年轻，他们经常会和我讨论换行业，没前途之类的特性，大人们总安慰坚持吧，坚持下来就好了，但问题是确实很多时候崩溃的心态会蒙蔽双眼，看不到未来，我的经验是———无论过去还是未来，有一个事实不会变，我热爱这个行业，除了敲代码，我什么都不会了。 我不需要知道未来有没有钱途，也不需要关注这行业是不是竞争压力大，已经这样了，做都做了，那就做好吧（当然我一直坚信云计算就是未来）。
                    第三部分我想论述思想了，我一直偏执的认为小朋友们的先天都是一致的，也就是我们说的强类型约束，造成我们长大后不同的原因几乎是原生家庭和成长经历，很多人性格里的孤僻，偏执的个性几乎都是少年时期的独立生活导致，而又有另一批人性格温和，识大体。我想说的是，性格可以千千万万，但一定要有独立思考的能力，凡事需要有自己的思考过程，简单说就是要有脑子，而培养这种能力的一个很重要方式就是阅读书籍，你会发现一个公理，个人的个性和思想在整个种族积累过来的知识面前，是渺小的，非特殊的，而书籍更像是一种规约，所以我们讨论的是“人要有思考的能力”，而不是“人要有思想”。虽然我们都知道，生活并不轻松，但只要努力，就还有希望。</p>
                <p>为者常成，行者常至</p>
                <a href="https://github.com/linghuchina/Deep_In_Java/tree/master/Deep_In_Java/src/main/java/com/alibaba/java" class="btn btn-default btn-lg">Visit Source Code</a>
            </div>
        </div>
    </div>
</section>