<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section2">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>编程之缘——“云栖大会”</h2>
                <p>   入行已经一年有余，说起编码，我个人心理历程颇为奇异，最开始在一家服务提供商公司，因为公司产品体验很差，从一个测试人员转战开发，又因云栖大会，结识Nacos项目，从此开始接触后端中间件开发和设计，当然，历程远比这飘飘几笔文字来得辛苦，当然也不辛苦，因为毕竟很感激遇到了值得托付一生的事业。一年前我就如此笃定。
                    简单聊聊云栖大会吧，记忆比较深刻的是当时一个白发苍苍的老奶奶，在认真的记录着开源者大会发布的新议题，吾等汗颜，并肃然起敬。阿里巴巴宣布重启dubbo项目，并计划贡献给Apache基金，并在最后发布了一个小彩蛋，由于Netflix的eureka 和 Spring cloud Zookeeper两大注册中心在各自生态中饱受外界诟病，阿里中间件部门和集团技术部合力推出Nacos开源计划，意为围绕Spring boot，Spring cloud-alibaba  Dubbo生态打造一款无缝衔接的注册中心产品，而我也开始了Nacos贡献之旅。
                    我说这世间的事挺奇怪，多是无心插柳柳成荫，一年来在职场的摸爬滚打使我理解，哪怕是搞技术也要维护好人际关系，当然因为实在不屑于上行下效，奉承领导，所以长期做的事情都算是比较难的，比较多的，重复造了不少的轮子，长期的编码使我养成了保留型的风格，意为保持比较差的可读性，引入较多的设计模式，部分实现公司内部都很少遇到，以此也希望展示自己的能力吧，准确来说最高效的编程风格应为模范化，规则化，但我一直笃定知之者不如好之者，好之者不如乐之者。
                    今年云栖大会前夕，受朋友委托周日去他们公司帮他解决一点点实现的问题。我一直想在各个公司的技术栈之间比较，以此获得公共特性，强化自身，现在才发现“一家之言可当百家之言”，以此更加确定了JSR为第一梯队的技术，技术嘛，理应如此！时至今日，我终于明白，许多事情需要真正的理解和知性还需要自己去验证，体会。
                    我们知道，生活很难，但是只要努力，就还有希望。</p>
                <p>愿你编程半生，归来依然少年。</p>
                <p>当然，更重要的是，永远向命运发起反抗</p>
                <a href="https://github.com/linghuchina/Deep_In_Java/tree/master/Deep_In_Java/src/main/java/com/alibaba/java" class="btn btn-default btn-lg">Visit Source Code</a>
            </div>
        </div>
    </div>
</section>